<!DOCTYPE html>
<html>
<body>
    <p>checking type </p>
    
    <script>
         document.write((typeof {name:'lav', age:24})+"<br>"+
         (typeof 'lavanya')+"<br>"+(typeof 1199)+"<br>")
    
    var data={name:'lav', age:24, company:'mantra'};
    //var b="lav";
    //var b=24;
   //if(typeof b==='string')
            if(typeof data['name']==='string')
              {
               document.write("it is string");
              }
              else{
                document.write("it is not a string");
              }
             
     </script>
     </body>
 </html>         
  