<!DOCTYPE html>
<html>
    <body>
        <h2>comparing strings</h2>
        <p>a=File</p>
        <p>b=Life</p>
        <script>
            let a="File";
            let b="Life";
            
            
            let res=a.length===b.length && a.split(a).sort().join() == b.split(b).sort().join();
            document.write("comparing letters : "+" "+res+"<br>");

            let result=a.includes(b) 
            document.write("comparing string : "+" "+result);

        </script>
    </body>
</html>