<!DOCTYPE html>
<html>
    <body>
        <h2>comparing strings</h2>
        <p>a=File</p>
        <p>b=Life</p>
        <script>
            let a="File";
            let b="Life";
            let c=a.toLowerCase();
            let d=b.toLowerCase();
            
            let res=c.length===d.length && c.split("").sort().join() == d.split("").sort().join();
            document.write("comparing letters : "+" "+res+"<br>");

            let result=a.includes(b) 
            document.write("comparing string : "+" "+result);

        </script>
    </body>
</html>