<!DOCTYPE html>
<html>

<body>

    <h2> Array Sorting</h2>
    <p>Sort user objects on name:</p>
    <button onclick="sorting()">Sort</button>
    <button onclick="reverse()">reverse</button>

    <p id="demo"></p>

    <script>
        const users = [
            { name: "500apps", id: 1 },
            { name: "Technologies", id: 2 },
            { name: "Agile", id: 3 },
            { name: "Mantra", id: 4 },
            { name: "Clockly", id: 5 },
            { name: "CRM", id: 6 },
            { name: "500apps", id: 7 }
        ];
        
        
        Users();
        function sorting() {
            users.sort(function (a, b) {
                let x = a.name.toLowerCase();
                let y = b.name.toLowerCase();
                if (x < y) { return -1; }
                if (x > y) { return 1; }
                return 0;
            });
            Users();

        }

        function reverse() {
            users.reverse(function (a, b) {
                let x = a.name.toLowerCase();
                let y = b.name.toLowerCase();
                if (x < y) { return -1; }
                if (x > y) { return 1; }
                return 0;
            });
            Users();

        }

        

        function Users() {
            document.getElementById("demo").innerHTML =
                users[0].name + " " + users[0].id + "<br>" +
                users[1].name + " " + users[1].id + "<br>" +
                users[2].name + " " + users[2].id + "<br>" +
                users[3].name + " " + users[3].id + "<br>" +
                users[4].name + " " + users[4].id + "<br>" +
                users[5].name + " " + users[5].id + "<br>" +
                users[6].name + " " + users[6].id;
        }
    </script>

</body>
</html>